.checkMessage-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.16);
}
.checkMessage__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    & > * {
        &:first-child{
            margin-top: 16px;
        }
        margin-left: 16px;
        margin-right: 16px;
    }
    .checkTitle {
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }
    .checkBtn__wrap {
        display: flex;
        flex-direction: row;
        margin: 0;
        margin-top: 16px;
        .okBtn, .cancelBtn {
            flex: 1;
            padding: 12px 0;
            background-color: #ad7cef;
            font-size: 13px;
            color: white;
            border: 0;
            outline: none;
            cursor: pointer;
            &:hover {
                background-color: #7f49c8;
            }
            &:active {
                background-color: #7e49c8;
            }
        }
        .okBtn {
            border-radius: 0 0 0 10px;
            border-right: 0.5px solid #fff;
        }
        .cancelBtn {
            border-radius: 0 0 10px 0px;
        }
    }
}
